.typography__h1 {
  //styleName: Headings/H1 - Bold 64;

  font-size: 64px;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: 0em;
}

.typography__h2 {
  //styleName: Headings/H2 - Bold 44;

  font-size: 44px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
}

.typography__h3 {
  //styleName: Headings/H3 - Bold 24;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
}

.typography__h4 {
  //styleName: Headings/H4 - Bold 20;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}

.typography__h5 {
  //styleName: Headings/H5 - Bold 18;

  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.typography__h6 {
  //styleName: Headings / H6 - Bold 16;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
}

.typography__h7 {
  //styleName: Headings/H6+ - Bold 14;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
}

.typography__p1 {
  //styleName: Paragraph/P1 - 14 Medium;

  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
}

.typography__p2 {
  //styleName: Paragraph/P2 - 16 Medium;

  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}

.typography__p3 {
  //styleName: Paragraph/P3 - 18 Medium;

  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
}
